body {
  font-family: 'Open Sans';
  @include text--body;
  -webkit-font-smoothing: antialiased;
}

a,
a:visited {
  color: $blue;
  border-bottom: 2px solid transparent;
  transition: .2s;

  &:hover {
    color: $blue;
    border-bottom: 2px solid $blue;
    text-decoration: none;
  }
}
