.site-header {
  border: 0;

  .wrapper {
    margin-top: 20px;
  }
}

.site-branding {
  display: flex;
  align-items: center;
}

.site-logo {
  width: 75px;
  height: 75px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 50px;
  background: #222;
  margin-right: 15px;
}
