.site-header {
  border: 0;
  background: #222;
}

.site-title {
  background-image: url(images/NYPR_logo.svg);
  text-indent: -091183px;
  width: 180px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 0;
}

.site-nav .page-link {
  color: white;
}
