---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="post-meta">
      {% assign author = site.authors | where: 'title', page.author | first %}
      {% if author.image %}
        <div class="post-author-thumbnail">
          <a href="{{ author.url }}">
            <img src="{{ author.image }}"/>
          </a>
        </div>
      {% endif %}
        <div>
          <div>
            {% if author %}
            <a href="{{ author.url }}">{{ author.title }}</a>
            {% endif %}
            {% if author.job_title %}
            <div>{{ author.job_title }}</div>
            {% endif %}
          </div>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
          </time>
        </div>
    </div>
    {% if page.cover_image %}
    <div class="post-cover">
      <img src="{{ page.cover_image }}" />
    </div>
    {% endif %}
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
